body {
    background-color: #000;
}

#s2masteries {
    background: url(images/content_tile.jpg) repeat-y;
    background-size: 100% auto;
    background-color: #EFE0AA;
    font: 11px Arial, Helvetica, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    margin: 20px auto; /* was 50 */
    width: 840px; /* was 932 */
    height: 624px; /* was 624 */
    padding: 30px; /* was 40 */
    position: relative;
}

#panel {
    width: 800px; /* was 920 */
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: default;
}

#calculator {
    background: url(images/masteries-background.jpg);
    width: 828px;
    height: 479px;
    position: relative;
    margin: 0 auto;
}

.art-top {
    width: 100%;
    height: 234px;
    background: url(images/content_top.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.art-bottom {
    width: 100%;
    height: 150px;
    background: url(images/content_bot.jpg) no-repeat;
    background-size: 100%;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* --- Panel ---------------------------------------------------------------- */
#points {
    font-size: 18px;
    margin-right: 30px;
    margin-bottom: 10px;
}
#exportLink {
    font-size: 18px;
    margin-right: 0px;
    color: #000;
}
.left {
    position: absolute;
    left: 0;
    top: 0;
}
.center {
    text-align: center;
    margin: 0 auto 15px;
}
.right {
    position: absolute;
    right: 0;
    top: 0;
}


button {
    cursor: pointer;
    width: 130px;
    padding: 3px;
    font-size: 16px;
    color: #fff;
    margin: 0;
    border: 1px outset #3467A7;
    border-radius: 4px;
    background-color: #0F325B;
}
button:hover {
    background: -moz-linear-gradient(top, rgba(86,121,165,1) 1%, rgba(20,57,100,1) 50%, rgba(14,40,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(86,121,165,1)), color-stop(50%,rgba(20,57,100,1)), color-stop(100%,rgba(14,40,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(86,121,165,1) 1%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(86,121,165,1) 1%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(86,121,165,1) 1%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(86,121,165,1) 1%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5679a5', endColorstr='#0e2848',GradientType=0 ); /* IE6-9 */
}
button,
button:active {
    background: -moz-linear-gradient(top, rgba(52,103,167,1) 0%, rgba(20,57,100,1) 50%, rgba(14,40,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,103,167,1)), color-stop(50%,rgba(20,57,100,1)), color-stop(100%,rgba(14,40,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(52,103,167,1) 0%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(52,103,167,1) 0%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(52,103,167,1) 0%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(52,103,167,1) 0%,rgba(20,57,100,1) 50%,rgba(14,40,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3467a7', endColorstr='#0e2848',GradientType=0 ); /* IE6-9 */
}
button:active {
    border-style: inset;
}


#tree-summaries {
    height: 40px;
    position: relative;
    width: 100%;
    margin-bottom: 4px;
}
.tree-summary {
    width: 160px;
    height: 30px;
    padding: 5px;
    padding-left: 40px;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    background-image: url(images/tree-icons.png);
}
#tree-summaries .Ferocity{
    background-position: 0px 0px;
}
#tree-summaries .Cunning {
    background-position: 0px -43px;
}
#tree-summaries .Resolve{
    background-position: 0px -86px;
}


/* --- Calculator ----------------------------------------------------------- */
.tree-label {
    color: #fefefe;
    position: absolute;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 1px;
}

.button {
    width: 52px;
    height: 52px;
    position: absolute;
    cursor: pointer;
    /*border: 2px solid #999;*/
    border-radius: 2px;
    z-index: 1;
    background-image: url(images/button-icons.jpg);
}

.button.unavailable {
    border-color: #999;
    cursor: default;
	-webkit-animation: animation_unavailable 1s; /* Chrome, Safari, Opera */
	animation: animation_unavailable 1s;
}
.button.available {
    border-color: #00ff00;
	-webkit-animation: animation_available 1s; /* Chrome, Safari, Opera */
    animation: animation_available 1s;
}
.button.full {
    border-color: #d4b654;
	-webkit-animation: animation_full 1s; /* Chrome, Safari, Opera */
	animation: animation_full 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_available  {
    25%  {border-color: #fff;}
    100% {border-color: #00ff00;}
}

/* Standard syntax */
@keyframes animation_available  {
    25%  {border-color: #fff;}
    100% {border-color: #00ff00;}
} 

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_unavailable {
    25%  {opacity: 0.8;}
    100% {opacity: 1.0}
}

/* Standard syntax */
@keyframes animation_unavailable {
	0% {border-color: #00ff00;}
    25%  {opacity: 0.8; border-color: #999;}
    100% {opacity: 1.0}
} 

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_full {
    25%  {border-color: #fff;}
    100% {border-color: #d4b654;}
}

/* Standard syntax */
@keyframes animation_full {
    25%  {border-color: #aa8822;}
    100% {border-color: #d4b654;}
} 

#tooltip {
    display: none;
    color: #fefefe;
    width: 180px;
    padding: 5px;
    background: #000;
    position: absolute;
    z-index: 100;
    border: 2px solid #323635;
    border-radius: 5px;
}
#tooltip strong {
    font-size: 13px;
    font-weight: bolder;
}
#tooltip p {
    margin-bottom: 0px;
}
#tooltip .highlight {
    color: #fecb00;
}
#tooltip .req {
    color: #ff0000;
}
#tooltip.custom {
    width: auto;
}
#tooltip.custom p {
    margin-top: 0px;
}

.counter {
    position: absolute;
    right: 2px;
    bottom: -7px;
    background-color: #000;
    border: 2px solid #0060a0;
    border-radius: 2px;
    font-size: 11px;
    padding: 0px 5px;
}
.counter-unavailable {
	border: 2px solid #999;
    color: #999;
}
.counter-available {
	border: 2px solid #0060a0;
	color: #0080a0;
}
.counter-full {
	border: 2px solid #d4b654;
    color: #d4b654;
}

.num-unavailable {
    color: #999;
}
.num-available {
    color: #00ff00;
}
.num-full {
    color: #d4b654;
}

.buttonFrame  {
	width: 76px;
	height: 76px;
    position: absolute;
	left: -13px;
	top: -13px;
	background: url(images/frames.png);
}

#tooltip .Ferocity {
    color: #b83200;
}
#tooltip .Cunning{
    color: #b853ee;
}
#tooltip .Resolve {
    color: #46a3ee;
}
#soundinfo {
	font-size: 14px;
}

#footer {
    width: 100%;
    height: 80px;
    position: relative;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#volume{
	width: 100px;
	height: 13px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}  
